<center><h1><%= @restaurant.name %></h1></center>

<center>
  <h3>adress</h3>
  <%= @restaurant.address %>
  <%= @restaurant.phone_number %>
</center>

<center>
  <h3>speciality</h3>
  <%= @restaurant.category %>
</center>
